@model GroupCreateViewModel;

@{
	ViewData["Title"] = "Create group";
}

<h2>Create Group</h2>

<div class="container">
	<form asp-action="Create">
		<div class="form-group">
			<label asp-for="Group.Name"></label>
			<input asp-for="Group.Name" class="form-control" />
			<span asp-validation-for="Group.Name" class="text-danger"></span>
		</div>
		<br />
		<div class="form-group">
			<label asp-for="Group.TeacherId"></label>
			<select asp-for="Group.TeacherId" class="form-control" asp-items="@(new SelectList(Model.Teachers, "Id", "FullName"))"></select>
			<span asp-validation-for="Group.TeacherId" class="text-danger"></span>
		</div>
		<br />
		<div class="form-group">
			<label asp-for="Group.CourseId"></label>
			<select asp-for="Group.CourseId" class="form-control" asp-items="@(new SelectList(Model.Courses, "Id", "Name"))"></select>
			<span asp-validation-for="Group.CourseId" class="text-danger"></span>
		</div>
		<br /><br />
		<button type="submit" class="btn btn-dark">Create</button>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
