@model Student;

@{
	ViewData["Title"] = "Delete Student";
}

<h2>Delete Student</h2>

<div class="container">
	<form asp-action="Delete">
		<div class="form-Student">
			<label asp-for="FirstName"></label>
			<input asp-for="FirstName" class="form-control" disabled />
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>
		<br />
		<div class="form-Student">
			<label asp-for="LastName"></label>
			<input asp-for="LastName" class="form-control" disabled />
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>
		<br />
		<br />
		<div class="form-Student">
			<label asp-for="Group"></label>
			<select asp-for="GroupId" class="form-control" asp-items="@(new SelectList(ViewBag.Groups, "Id", "Name"))" disabled></select>
			<span asp-validation-for="GroupId" class="text-danger"></span>
		</div>
		<br /><br />
		<button type="submit" class="btn btn-dark">Delete</button>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
