@model CourseDTO;

@{
	ViewData["Title"] = "Delete course";
	var groupsPresent = Model.Groups.Any();
}

<h2>Delete course</h2>

<div class="container">
	<form asp-action="Delete">
		<div class="form-group">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" disabled />
		</div>
		<br />
		<div class="form-group">
			<label asp-for="Description"></label>
			<input asp-for="Description" class="form-control" disabled />
		</div>
		<br /><br />
		@if (groupsPresent)
		{
			<p class="text-danger">There are groups associatied this course. You must delete them before deleting course itself</p>
		}
		else
		{
			<button type="submit" class="btn btn-dark">Delete</button>
		}
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
